svg#freepik_stories-blogging:not(.animated) .animable {
  opacity: 0;
}
svg#freepik_stories-blogging.animated #freepik--background-complete--inject-44 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomOut;
  animation-delay: 0s;
}
svg#freepik_stories-blogging.animated #freepik--Floor--inject-44 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideRight;
  animation-delay: 0s;
}
svg#freepik_stories-blogging.animated #freepik--Device--inject-44 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 0s;
}
svg#freepik_stories-blogging.animated #ele8pu45sbryd {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideRight;
  animation-delay: 0s;
}
svg#freepik_stories-blogging.animated #elxz21jrr68fr {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideRight;
  animation-delay: 0.05555555555555555s;
  opacity: 0;
}
svg#freepik_stories-blogging.animated #eldu07jhrdlue {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideRight;
  animation-delay: 0.1111111111111111s;
  opacity: 0;
}
svg#freepik_stories-blogging.animated #el7rxlpqufus {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideRight;
  animation-delay: 0.16666666666666666s;
  opacity: 0;
}
svg#freepik_stories-blogging.animated #elsj8l9j5x8d {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideRight;
  animation-delay: 0.2222222222222222s;
  opacity: 0;
}
svg#freepik_stories-blogging.animated #el1zcbes6q7n5 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideRight;
  animation-delay: 0.2777777777777778s;
  opacity: 0;
}
svg#freepik_stories-blogging.animated #eli5n33meo2gc {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideRight;
  animation-delay: 0.3333333333333333s;
  opacity: 0;
}
svg#freepik_stories-blogging.animated #elzzbnp6xsld {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideRight;
  animation-delay: 0.38888888888888884s;
  opacity: 0;
}
svg#freepik_stories-blogging.animated #eltmji43r7tlf {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideRight;
  animation-delay: 0.4444444444444444s;
  opacity: 0;
}
svg#freepik_stories-blogging.animated #elitnmq6az19 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideRight;
  animation-delay: 0.5s;
  opacity: 0;
}
svg#freepik_stories-blogging.animated #ele2cmscv69ql {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideRight;
  animation-delay: 0.5555555555555556s;
  opacity: 0;
}
svg#freepik_stories-blogging.animated #eln4bfvkmw82g {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideRight;
  animation-delay: 0.611111111111111s;
  opacity: 0;
}
svg#freepik_stories-blogging.animated #elnjlqol4qy5m {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideRight;
  animation-delay: 0.6666666666666666s;
  opacity: 0;
}
svg#freepik_stories-blogging.animated #ely52p4is9t0s {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideRight;
  animation-delay: 0.7222222222222222s;
  opacity: 0;
}
svg#freepik_stories-blogging.animated #elg7hs51i4ovl {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideRight;
  animation-delay: 0.7777777777777777s;
  opacity: 0;
}
svg#freepik_stories-blogging.animated #eltbx6qfodrxh {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideRight;
  animation-delay: 0.8333333333333333s;
  opacity: 0;
}
svg#freepik_stories-blogging.animated #eldt247qf515h {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideRight;
  animation-delay: 0.8888888888888888s;
  opacity: 0;
}
svg#freepik_stories-blogging.animated #elcw2p3cap65n {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideRight;
  animation-delay: 0.9444444444444444s;
  opacity: 0;
}
svg#freepik_stories-blogging.animated #freepik--Box--inject-44 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideRight;
  animation-delay: 0s;
}
svg#freepik_stories-blogging.animated #freepik--Character--inject-44 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft,
    1.5s Infinite linear shake;
  animation-delay: 0s, 1s;
}
svg#freepik_stories-blogging.animated #freepik--speech-bubble--inject-44 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideDown,
    1.5s Infinite linear shake;
  animation-delay: 0s, 1s;
}
@keyframes zoomOut {
  0% {
    opacity: 0;
    transform: scale(1.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes slideRight {
  0% {
    opacity: 0;
    transform: translateX(30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }
  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
