svg#freepik_stories-forgot-password:not(.animated) .animable {
  opacity: 0;
}
svg#freepik_stories-forgot-password.animated
  #freepik--background-simple--inject-2 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomOut;
  animation-delay: 0s;
}
svg#freepik_stories-forgot-password.animated #freepik--Plants--inject-2 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomIn;
  animation-delay: 0s;
}
svg#freepik_stories-forgot-password.animated #freepik--Bookshelf--inject-2 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) lightSpeedLeft;
  animation-delay: 0s;
}
svg#freepik_stories-forgot-password.animated #elp2xz0o7zc2q {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomOut;
  animation-delay: 0s;
}
svg#freepik_stories-forgot-password.animated #eljxvetu4t0c {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomOut;
  animation-delay: 0.013333333333333334s;
  opacity: 0;
}
svg#freepik_stories-forgot-password.animated #elgut1pl1drtg {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomOut;
  animation-delay: 0.02666666666666667s;
  opacity: 0;
}
svg#freepik_stories-forgot-password.animated #ele3m1yq1xt35 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomOut;
  animation-delay: 0.04s;
  opacity: 0;
}
svg#freepik_stories-forgot-password.animated #elc6fwc42pbg4 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomOut;
  animation-delay: 0.05333333333333334s;
  opacity: 0;
}
svg#freepik_stories-forgot-password.animated #eltoxhyqfqypn {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomOut;
  animation-delay: 0.06666666666666667s;
  opacity: 0;
}
svg#freepik_stories-forgot-password.animated #elqlw3w16murs {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomOut;
  animation-delay: 0.08s;
  opacity: 0;
}
svg#freepik_stories-forgot-password.animated #elu0hzqruyghi {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomOut;
  animation-delay: 0.09333333333333334s;
  opacity: 0;
}
svg#freepik_stories-forgot-password.animated #elqh7pb02fn9 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomOut;
  animation-delay: 0.10666666666666667s;
  opacity: 0;
}
svg#freepik_stories-forgot-password.animated #elhrctl01749o {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomOut;
  animation-delay: 0.12000000000000001s;
  opacity: 0;
}
svg#freepik_stories-forgot-password.animated #el0g5u6bmnbkts {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomOut;
  animation-delay: 0.13333333333333333s;
  opacity: 0;
}
svg#freepik_stories-forgot-password.animated #ely1267r0i9j {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomOut;
  animation-delay: 0.14666666666666667s;
  opacity: 0;
}
svg#freepik_stories-forgot-password.animated #el2ccw32sdvrj {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomOut;
  animation-delay: 0.16s;
  opacity: 0;
}
svg#freepik_stories-forgot-password.animated #elb7a3tndsjll {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomOut;
  animation-delay: 0.17333333333333334s;
  opacity: 0;
}
svg#freepik_stories-forgot-password.animated #elccih0f9tpli {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomOut;
  animation-delay: 0.18666666666666668s;
  opacity: 0;
}
svg#freepik_stories-forgot-password.animated #elh2vi3q0f9er {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomOut;
  animation-delay: 0.2s;
  opacity: 0;
}
svg#freepik_stories-forgot-password.animated #elsdtczwyrnxm {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomOut;
  animation-delay: 0.21333333333333335s;
  opacity: 0;
}
svg#freepik_stories-forgot-password.animated #ell08efqpohe {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomOut;
  animation-delay: 0.22666666666666668s;
  opacity: 0;
}
svg#freepik_stories-forgot-password.animated #elzmi774qe3gj {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomOut;
  animation-delay: 0.24000000000000002s;
  opacity: 0;
}
svg#freepik_stories-forgot-password.animated #elpmpwx41fxn {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomOut;
  animation-delay: 0.25333333333333335s;
  opacity: 0;
}
svg#freepik_stories-forgot-password.animated #ele1x95l0rbzj {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomOut;
  animation-delay: 0.26666666666666666s;
  opacity: 0;
}
svg#freepik_stories-forgot-password.animated #eljnlvsyd5fy {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomOut;
  animation-delay: 0.28s;
  opacity: 0;
}
svg#freepik_stories-forgot-password.animated #elo43l6ezss8 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomOut;
  animation-delay: 0.29333333333333333s;
  opacity: 0;
}
svg#freepik_stories-forgot-password.animated #el28u6lpy3j3h {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomOut;
  animation-delay: 0.3066666666666667s;
  opacity: 0;
}
svg#freepik_stories-forgot-password.animated #elnuwehllsvlg {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomOut;
  animation-delay: 0.32s;
  opacity: 0;
}
svg#freepik_stories-forgot-password.animated #elyyf6kimu5zq {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomOut;
  animation-delay: 0.33333333333333337s;
  opacity: 0;
}
svg#freepik_stories-forgot-password.animated #elblf8v3kba0a {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomOut;
  animation-delay: 0.3466666666666667s;
  opacity: 0;
}
svg#freepik_stories-forgot-password.animated #ellbeadghn42 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomOut;
  animation-delay: 0.36000000000000004s;
  opacity: 0;
}
svg#freepik_stories-forgot-password.animated #elyxo41ugn63 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomOut;
  animation-delay: 0.37333333333333335s;
  opacity: 0;
}
svg#freepik_stories-forgot-password.animated #elb6rrag7vheq {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomOut;
  animation-delay: 0.3866666666666667s;
  opacity: 0;
}
svg#freepik_stories-forgot-password.animated #el846xf0ows69 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomOut;
  animation-delay: 0.4s;
  opacity: 0;
}
svg#freepik_stories-forgot-password.animated #elne8rakogc6p {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomOut;
  animation-delay: 0.4133333333333334s;
  opacity: 0;
}
svg#freepik_stories-forgot-password.animated #el8cuei3yi8pd {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomOut;
  animation-delay: 0.4266666666666667s;
  opacity: 0;
}
svg#freepik_stories-forgot-password.animated #ela0ueokspxac {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomOut;
  animation-delay: 0.44s;
  opacity: 0;
}
svg#freepik_stories-forgot-password.animated #elgmclmsiroyj {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomOut;
  animation-delay: 0.45333333333333337s;
  opacity: 0;
}
svg#freepik_stories-forgot-password.animated #ele3l4qw4ojyr {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomOut;
  animation-delay: 0.4666666666666667s;
  opacity: 0;
}
svg#freepik_stories-forgot-password.animated #elmrxo5cu4c0k {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomOut;
  animation-delay: 0.48000000000000004s;
  opacity: 0;
}
svg#freepik_stories-forgot-password.animated #elxpij27zrzxp {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomOut;
  animation-delay: 0.49333333333333335s;
  opacity: 0;
}
svg#freepik_stories-forgot-password.animated #el0b7tiwufd8bs {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomOut;
  animation-delay: 0.5066666666666667s;
  opacity: 0;
}
svg#freepik_stories-forgot-password.animated #elru40z3z200s {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomOut;
  animation-delay: 0.52s;
  opacity: 0;
}
svg#freepik_stories-forgot-password.animated #ely0ejse15c5 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomOut;
  animation-delay: 0.5333333333333333s;
  opacity: 0;
}
svg#freepik_stories-forgot-password.animated #elpwd42n8uetm {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomOut;
  animation-delay: 0.5466666666666667s;
  opacity: 0;
}
svg#freepik_stories-forgot-password.animated #el7kkdon9cb64 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomOut;
  animation-delay: 0.56s;
  opacity: 0;
}
svg#freepik_stories-forgot-password.animated #el843hpgpjte5 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomOut;
  animation-delay: 0.5733333333333334s;
  opacity: 0;
}
svg#freepik_stories-forgot-password.animated #eliige3xcelg {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomOut;
  animation-delay: 0.5866666666666667s;
  opacity: 0;
}
svg#freepik_stories-forgot-password.animated #eldvxujwkf27w {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomOut;
  animation-delay: 0.6000000000000001s;
  opacity: 0;
}
svg#freepik_stories-forgot-password.animated #elvvcnx3uq49h {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomOut;
  animation-delay: 0.6133333333333334s;
  opacity: 0;
}
svg#freepik_stories-forgot-password.animated #elloadaijwnva {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomOut;
  animation-delay: 0.6266666666666667s;
  opacity: 0;
}
svg#freepik_stories-forgot-password.animated #eljmt19likkfs {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomOut;
  animation-delay: 0.64s;
  opacity: 0;
}
svg#freepik_stories-forgot-password.animated #eljq14zvw0hpd {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomOut;
  animation-delay: 0.6533333333333333s;
  opacity: 0;
}
svg#freepik_stories-forgot-password.animated #elmsn7demjgid {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomOut;
  animation-delay: 0.6666666666666667s;
  opacity: 0;
}
svg#freepik_stories-forgot-password.animated #elts4omhqe3z {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomOut;
  animation-delay: 0.68s;
  opacity: 0;
}
svg#freepik_stories-forgot-password.animated #elbc2kwz3xczo {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomOut;
  animation-delay: 0.6933333333333334s;
  opacity: 0;
}
svg#freepik_stories-forgot-password.animated #elygyo8rremmn {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomOut;
  animation-delay: 0.7066666666666667s;
  opacity: 0;
}
svg#freepik_stories-forgot-password.animated #elvz57bdje6n {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomOut;
  animation-delay: 0.7200000000000001s;
  opacity: 0;
}
svg#freepik_stories-forgot-password.animated #elgj8iyajrwju {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomOut;
  animation-delay: 0.7333333333333334s;
  opacity: 0;
}
svg#freepik_stories-forgot-password.animated #el233h5gizv4g {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomOut;
  animation-delay: 0.7466666666666667s;
  opacity: 0;
}
svg#freepik_stories-forgot-password.animated #elkdchyk8yd8 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomOut;
  animation-delay: 0.76s;
  opacity: 0;
}
svg#freepik_stories-forgot-password.animated #el3gfevf4o83t {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomOut;
  animation-delay: 0.7733333333333334s;
  opacity: 0;
}
svg#freepik_stories-forgot-password.animated #elohe82m153ie {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomOut;
  animation-delay: 0.7866666666666667s;
  opacity: 0;
}
svg#freepik_stories-forgot-password.animated #elclpaz6gdvio {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomOut;
  animation-delay: 0.8s;
  opacity: 0;
}
svg#freepik_stories-forgot-password.animated #elwcy7ulf8puo {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomOut;
  animation-delay: 0.8133333333333334s;
  opacity: 0;
}
svg#freepik_stories-forgot-password.animated #elxid1as6vuc {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomOut;
  animation-delay: 0.8266666666666668s;
  opacity: 0;
}
svg#freepik_stories-forgot-password.animated #eli9o3n3q282a {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomOut;
  animation-delay: 0.8400000000000001s;
  opacity: 0;
}
svg#freepik_stories-forgot-password.animated #el64x7dqkozzf {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomOut;
  animation-delay: 0.8533333333333334s;
  opacity: 0;
}
svg#freepik_stories-forgot-password.animated #elixeno0orxm {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomOut;
  animation-delay: 0.8666666666666667s;
  opacity: 0;
}
svg#freepik_stories-forgot-password.animated #elkvr5i6tuz9 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomOut;
  animation-delay: 0.88s;
  opacity: 0;
}
svg#freepik_stories-forgot-password.animated #elamgc4302uvu {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomOut;
  animation-delay: 0.8933333333333334s;
  opacity: 0;
}
svg#freepik_stories-forgot-password.animated #eljow49ucp8kb {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomOut;
  animation-delay: 0.9066666666666667s;
  opacity: 0;
}
svg#freepik_stories-forgot-password.animated #el3it9jfo5bc {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomOut;
  animation-delay: 0.92s;
  opacity: 0;
}
svg#freepik_stories-forgot-password.animated #el1jfykg8di1c {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomOut;
  animation-delay: 0.9333333333333333s;
  opacity: 0;
}
svg#freepik_stories-forgot-password.animated #elbt5spx3ydn {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomOut;
  animation-delay: 0.9466666666666668s;
  opacity: 0;
}
svg#freepik_stories-forgot-password.animated #eljgo6ygs56j {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomOut;
  animation-delay: 0.9600000000000001s;
  opacity: 0;
}
svg#freepik_stories-forgot-password.animated #ely4zlhcahys {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomOut;
  animation-delay: 0.9733333333333334s;
  opacity: 0;
}
svg#freepik_stories-forgot-password.animated #elt8z5wqgj7g {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomOut;
  animation-delay: 0.9866666666666667s;
  opacity: 0;
}
svg#freepik_stories-forgot-password.animated #freepik--Character--inject-2 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomOut;
  animation-delay: 0s;
}
svg#freepik_stories-forgot-password.animated #freepik--Mug--inject-2 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomIn;
  animation-delay: 0s;
}
svg#freepik_stories-forgot-password.animated #freepik--Device--inject-2 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) lightSpeedLeft;
  animation-delay: 0s;
}
svg#freepik_stories-forgot-password.animated #freepik--Table--inject-2 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) lightSpeedRight;
  animation-delay: 0s;
}
svg#freepik_stories-forgot-password.animated #freepik--pop-up-window--inject-2 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomIn,
    1.5s Infinite linear floating;
  animation-delay: 0s, 1s;
}
@keyframes zoomOut {
  0% {
    opacity: 0;
    transform: scale(1.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes lightSpeedLeft {
  from {
    transform: translate3d(-50%, 0, 0) skewX(20deg);
    opacity: 0;
  }
  60% {
    transform: skewX(-10deg);
    opacity: 1;
  }
  80% {
    transform: skewX(2deg);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes lightSpeedRight {
  from {
    transform: translate3d(50%, 0, 0) skewX(-20deg);
    opacity: 0;
  }
  60% {
    transform: skewX(10deg);
    opacity: 1;
  }
  80% {
    transform: skewX(-2deg);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes floating {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
